.dice {
    overflow: hidden;
    display: flex;
    margin-right: 10px;

    &__dice {
        cursor: pointer;

        &--d6, &--d20 {
            color: #effff2 !important;
        }

        &:focus {
            box-shadow: none !important;
        }

        &--done {
            color: black !important;
            font-weight: bold !important;
        }

        &--dicing {
            color: #333 !important;
        }

        &--result {
            position: relative;
            background-color: #e9ecef !important;
            border-color: #ced4da !important;
            border-bottom-left-radius: 0 !important;
            border-top-left-radius: 0 !important;
            width: 50px;

            svg {
                font-size: 150%;
                margin: auto;
                position: absolute;
                top: 0; 
                left: 0; 
                bottom: 0; 
                right: 0;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        height: 0;
        width: span(12 of 12);
        margin-bottom: 20px;

        &--show {
            height: 100% !important;
        }

        &__dice {
            &:not(:first-child) {
                margin-left: 2%;
            }
        }
    }

    @media only screen and (min-width: 769px) {
        width: 0;
        transition: width 0.3s;

        &--show {
            width: 25% !important;
        }

        &__dice {
            &:not(&--result) {
                border-radius: 0 !important;
            }
        }
    }
}