.player-list {
    margin-bottom: 30px;

    &__title, &-cta {
        padding: 0 15px 0 15px;
    }

    &-player{
        display: flex;
        flex-direction: row;
        padding: 10px;

        &--npc {
            .player-list-player__col--name {
                width: span(7 of 12);
            }
        }

        &--active {
            background-color: #e9ecef;
        }

        &--dead, &--inactive {
            color: #999;
        }

        &__row {
            display: flex; 
            width: span(6 of 12);
        }
    
        &__col {
            height: 50px;
            position: relative;
    
            &--status {
                width: span(1 of 12);
            }
    
            &--name {
                width: span(11 of 12);
            }
    
            &--at, &--pa {
                width: span(2 of 12);
            }
    
            &--le {
                width: span(8 of 12);
                margin-right: 10px;
            }
            &--ini {
                width: span(4 of 12);
                margin-right: 10px;
            }
        }

        &-col-item {
            &__le-field {
                width: auto !important;

                input {
                    padding: 0 0 0 10px;
                }
            }

            &__remove-button {
                float: right;
                margin-left: 10px;
            }

            &__reset {
                position: absolute;
                right: 10px;
                z-index: 10000;
                top: 11px;
                color: gray;
                cursor: pointer;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        &__title {
           margin-bottom: 20px; 
        }

        &-cta {
            .btn {
                width: span(12 of 12);
                margin-bottom: 10px;
            }

            &__option {
                width: 49% !important;

                &:first-child {
                    margin-right: 2%;
                }
            }
        }

        &-player {
            flex-direction: column;
            padding: 10px 20px 0 20px;
            margin-bottom: 10px;

            &--npc {
                .player-list-player__col {
                    &--name {
                        width: auto;
                        padding-right: 10px;
                    }
                }
            }

            &__row {
                display: flex; 
                width: span(12 of 12);
            }

            &__col {
                &--status, &--name, &--at, &--pa {
                    height: 30px;
                }

                &--name {
                    width: span(11 of 12);
                }

                &--at, &--pa {
                    width: auto;
                    padding: 0 10px 0 10px;
                }

                &--le {
                    width: span(7 of 12);
                }

                &--ini {
                    width: span(4 of 12);
                    margin-left: span(1 of 12);
                }
            }
        }
    }

    @media only screen and (min-width: 769px) {
        &-cta {
            display: flex;

            .btn {
                margin-right: 10px;
            }

            &__dice {
                border-bottom-right-radius: 0 !important;
                border-top-right-radius: 0 !important;
                margin-right: 0 !important;

                &:focus {
                    box-shadow: none !important;
                }
            }
        }

        &-player {
            border-radius: 10px;

            &__col--status {
                padding-left: 5px;
                margin-right: 5px;
            }
    
            &__col-item {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
            }
        }
    }
}