.player-list {
  margin-bottom: 30px; }
  .player-list__title, .player-list-cta {
    padding: 0 15px 0 15px; }
  .player-list-player {
    display: flex;
    flex-direction: row;
    padding: 10px; }
    .player-list-player--npc .player-list-player__col--name {
      width: 57.6271186441%; }
    .player-list-player--active {
      background-color: #e9ecef; }
    .player-list-player--dead, .player-list-player--inactive {
      color: #999; }
    .player-list-player__row {
      display: flex;
      width: 49.1525423729%; }
    .player-list-player__col {
      height: 50px;
      position: relative; }
      .player-list-player__col--status {
        width: 6.7796610169%; }
      .player-list-player__col--name {
        width: 91.5254237288%; }
      .player-list-player__col--at, .player-list-player__col--pa {
        width: 15.2542372881%; }
      .player-list-player__col--le {
        width: 66.1016949153%;
        margin-right: 10px; }
      .player-list-player__col--ini {
        width: 32.2033898305%;
        margin-right: 10px; }
    .player-list-player-col-item__le-field {
      width: auto !important; }
      .player-list-player-col-item__le-field input {
        padding: 0 0 0 10px; }
    .player-list-player-col-item__remove-button {
      float: right;
      margin-left: 10px; }
    .player-list-player-col-item__reset {
      position: absolute;
      right: 20px;
      z-index: 10000;
      top: 11px;
      color: gray;
      cursor: pointer; }
  @media only screen and (max-width: 768px) {
    .player-list__title {
      margin-bottom: 20px; }
    .player-list-cta .btn {
      width: 100%;
      margin-bottom: 10px; }
    .player-list-cta__option {
      width: 49% !important; }
      .player-list-cta__option:first-child {
        margin-right: 2%; }
    .player-list-player {
      flex-direction: column;
      padding: 10px 20px 10px 20px; }
      .player-list-player--npc .player-list-player__col--name {
        width: auto;
        padding-right: 10px; }
      .player-list-player__row {
        display: flex;
        width: 100%; }
      .player-list-player__col--status, .player-list-player__col--name, .player-list-player__col--at, .player-list-player__col--pa {
        height: 30px; }
      .player-list-player__col--name {
        width: 91.5254237288%; }
      .player-list-player__col--at, .player-list-player__col--pa {
        width: auto;
        padding: 0 10px 0 10px; }
      .player-list-player__col--le {
        width: 57.6271186441%; }
      .player-list-player__col--ini {
        width: 32.2033898305%;
        margin-left: 6.7796610169%; } }
  @media only screen and (min-width: 769px) {
    .player-list-cta .btn {
      margin-right: 10px; }
    .player-list-player {
      border-radius: 10px; }
      .player-list-player__col--status {
        padding-left: 5px; }
      .player-list-player__col-item {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%; } }

.npcCreator__tab {
  cursor: pointer; }
  .npcCreator__tab--inactive {
    color: #c1c1c1; }

.npcCreator__row {
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: row; }

.npcCreator__col {
  width: 15.2542372881%;
  padding-right: 10px; }
  .npcCreator__col--name {
    width: 23.7288135593%; }

@media only screen and (max-width: 768px) {
  .npcCreator__row {
    flex-direction: column; }
  .npcCreator__col {
    width: 100%;
    margin-bottom: 10px; }
  .npcCreator__cta {
    width: 100%; } }

.about__title {
  margin-bottom: 30px; }

.about__row {
  display: flex; }

.about__col {
  width: 66.1016949153%;
  line-height: 1.8em;
  margin-bottom: 20px; }
  .about__col--image {
    padding: 0 0 0 40px;
    width: 32.2033898305%; }

.about__image {
  width: 100%; }

@media only screen and (max-width: 768px) {
  .about__row {
    flex-direction: column; }
  .about__col, .about__col--image {
    width: 100%;
    padding: 0; } }

/*# sourceMappingURL=app.css.map */